<div class="thumbnail">
    <img style="width: 50%; height: 50%;" src={{product.image}}>
    <div>
        <h4 class="pull-right productPrice">{{ product.price }}</h4>
        <h4 class="productTitle">{{ product.title }}</h4>
        <p class="productDesc">{{ product.description }}</p>
    </div>
    <div class="ratings">
        <p style="color: #ffd700;" class="pull-right">{{ reviews.length }} reviews</p>
        <p><auction-stars style="color: #ffd700;" [rating]="product.rating"></auction-stars></p>
    </div>
</div>
<div class="well productRev" id="reviews-anchor">
    <div class="row">
        <div class="col-md-12"></div>
    </div>
    <div class="text-right">
        <button (click)="isReviewHidden = !isReviewHidden"
                class="btn btn-success btn-green">Leave a Review</button>
    </div>

    <div [hidden]="isReviewHidden">
        <div><auction-stars [(rating)]="newRating" [readonly]="false" class="large"></auction-stars></div>
        <div><textarea [(ngModel)]="newComment"></textarea></div>
        <div><button (click)="addReview()" class="btn">Add review</button></div>
    </div>
    <div class="row" *ngFor="let review of reviews">
        <hr>
        <div class="col-md-12">
            <auction-stars style="color: #ffd700;" [rating]="review.rating"></auction-stars>
            <span class="productDesc">{{ review.user }}</span>
            <span class="pull-right productDesc">{{ review.timestamp | date: 'shortDate' }}</span>
            <p class="productDesc">{{ review.comment }}</p>
        </div>
    </div>
</div>
